[Unit]
Description=registry
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/home/ubuntu/start_registry.sh
TimeoutStopSec=180
Restart=always

[Install]
WantedBy=multi-user.target
